/* input.css */
@import "tailwindcss";

/* You can add your custom CSS here if needed */
/* For CSS-first configuration, you can define themes or utilities here: */

@theme {
  --color-primary: #011638;
  --color-secondary: #DFF8EB;
  --color-tertiary: #eb6424;
  --color-notebook: #d6d4a0;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/* Any other custom CSS rules */
body {
  font-family: sans-serif;
}